<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <button id="normal-fetch" >测试fetch</button>
        <button id="five-fetch">测试5秒fetch</button>
        <button id="ten-fetch">测试10秒的fetch</button>
        <button id="fifteen-timeout-fetch">测试15秒 timeout 的 fetch</button>
        <button id="error-five-fetch">测试5秒返回 500 错误的 fetch</button>
        <button id="error-handling-five-fetch">测试5秒返回 500 错误㓟错误处理的 fetch</button>
    </div>
    <div>
        <textarea id='result-display' rows='10' cols="50"></textarea>
    </div>
    <script type="text/javascript" charset="utf-8">
        var textDOM = document.getElementById('result-display');

        function createFetch(url, params={}) {
            return () => {
                return fetch(url, params)
                        .then(res => res.json())
                        .then(json => textDOM.value += json.message + '\n')
                        .catch(err => alert('请求失败'))
            }
        }
        
        function hackFetch(url, timeout=10, params={}) {
            var _abort = new Promise((resolve, reject) => {
                setTimeout(() => reject('abort promise'), timeout);
            })            

            var _fetch =  fetch(url, params);
            
            return Promise.race([_fetch, _abort])
        }

        function createHackFetch(url, timeout=10, params={}) {
            return () => {
                return hackFetch(url, timeout, params)
                    .then(res => res.json())
                    .then(json => textDOM.value += json.message + '\n')
                    .catch(err => alert('fetch 超时'))
            }
        }
        
        function xfetch(url, params) {
            return fetch(url, params)
                .then(res => res.json().then(json => res.ok ? json : Promise.reject(json)))
                .then(json => textDOM.value += json.message + '\n')
                .catch(err => alert(err.message))
        }
    
        function createXfetch(url, params={}) {
            return () => xfetch(url, params)
        }
    </script>
    <script type="text/javascript" charset="utf-8">
        document.getElementById('normal-fetch').onclick = createFetch('/api/no-delay');
        document.getElementById('five-fetch').onclick = createFetch('/api/five-delay');   
        document.getElementById('ten-fetch').onclick = createFetch('/api/ten-delay');

        document.getElementById('fifteen-timeout-fetch').onclick = createHackFetch('/api/fifteen-delay', 10000);
        
        document.getElementById('error-five-fetch').onclick = createFetch('/api/error-five-delay');

        document.getElementById('error-handling-five-fetch').onclick = createXfetch('/api/error-five-delay');
    </script>
</body>
</html>
